html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 12px/14px Arial, Helvetica, sans-serif;
  width: 100%;
  color: #CCC;
  background: #333; }

h2 {
  font-size: 20px;
  padding: 10px 0; }

h3 {
  font-size: 15px;
  padding: 5px 0; }

h4 {
  font-size: 12px;
  padding: 2px 0; }

a {
  color: #CCC; }
  a:visited {
    color: #999; }

input, textarea {
  color: #666666;
  border-radius: 5px;
  border: 1px solid #666;
  padding: 5px 10px;
  background: #ccc;
  overflow: hidden; }
  input:hover, textarea:hover {
    color: #666666;
    background: #fff;
    box-shadow: 0px 0px 5px #6CF; }
  input:focus, textarea:focus {
    color: #666666;
    background: #fff;
    box-shadow: 0px 0px 5px #6CF; }

img {
  border: none; }

span {
  display: block; }

.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: #333;
  display: inline-block;
  background: #999;
  font-weight: bolder;
  border: none; }
  .button:hover {
    color: #333333;
    background: #ccc; }

.button-send {
  background: #669988; }

.banner {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 160px;
  width: 280px;
  text-align: left;
  list-style: none;
  margin-bottom: 5px;
  display: block;
  color: #fff;
  font: 14px/18px arial;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 10px 0 0 10px; }

#bannerWrapper {
  top: 50px;
  right: 100px;
  position: absolute; }
  #bannerWrapper #banner1 {
    background: #CC6600; }
  #bannerWrapper #banner2 {
    background: #66CCFF; }
  #bannerWrapper #banner3 {
    background: #698; }

#mainbody {
  margin-top: 50px; }

#topContent {
  margin: 0 auto; }

#midContent {
  height: auto;
  min-height: 400px; }

#container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px; }

#bottomContent {
  height: 100px; }

#footwrapper {
  background: url(../imgs/foot-bg.png) repeat-x center bottom;
  height: 60px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: fixed;
  bottom: -25px;
  left: 0;
  opacity: 0.8; }
  #footwrapper #footcontent {
    font-family: Copperplate Gothic Bold;
    width: 980px;
    margin: 0 auto; }
  #footwrapper .copyright {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    color: #CCC; }
  #footwrapper:hover {
    opacity: 1; }

.navLink {
  float: left;
  height: 50px; }
  .navLink ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #CCC; }
    .navLink ul li {
      display: inline; }
      .navLink ul li a {
        text-decoration: none;
        padding: 10px 38px 31px;
        height: 20px;
        float: left;
        text-shadow: 0 1px #000; }
        .navLink ul li a:hover {
          background: url(../imgs/foot-hover.png) no-repeat center bottom; }

.active {
  background: url(../imgs/foot-hover.png) no-repeat center bottom; }

.followLink {
  float: right;
  margin-right: 20px;
  margin-top: 18px;
  height: 21px;
  width: 110px; }
  .followLink a {
    text-decoration: none;
    display: block;
    text-align: center; }
    .followLink a span {
      padding: 2px 15px;
      background: #666;
      border-radius: 5px;
      box-shadow: 0px 0px 5px #CCC; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

#contact {
  display: none;
  background: #000;
  border-radius: 5px;
  height: 200px;
  width: 600px;
  border: #333 1px solid;
  padding: 20px;
  box-shadow: 0px 0px 20px #CCC;
  position: absolute;
  left: -600px; }

#contact_left {
  text-align: left;
  float: left; }

#contact_right {
  text-align: left;
  float: right; }

a.email {
  text-decoration: none;
  color: #6CF;
  font: 12px/14px Arial, Helvetica, sans-serif; }

/*Sliding Boxes and Captions*/
.listWrapper {
  margin: 20px 30px; }

.list {
  display: inline-block;
  text-align: left;
  position: relative;
  box-shadow: 0px 0px 5px #CCC;
  overflow: hidden;
  width: 45%;
  float: left;
  margin: 10px 20px; }
  .list a {
    text-decoration: none;
    color: #FFF; }
  .list img {
    width: 100%; }

.cover {
  float: left;
  position: absolute;
  background: #000;
  height: 100px;
  width: 100%;
  padding: 10px 5px;
  bottom: -50px;
  opacity: .8; }
  .cover p {
    font-size: 14px; }

#logoNavWrapper {
  position: absolute;
  left: 100px;
  top: 50px; }
  #logoNavWrapper #logo {
    background: url("../imgs/logo.png") top center no-repeat;
    height: 161px;
    width: 278px;
    cursor: pointer; }
  #logoNavWrapper #quick-links-wrapper {
    margin-top: 15px; }
    #logoNavWrapper #quick-links-wrapper #quick-links {
      border-radius: 5px;
      background: #fff;
      font-weight: bolder;
      color: #CC6600;
      position: absolute;
      width: 276px;
      z-index: 100;
      padding: 10px 0;
      text-transform: uppercase;
      text-indent: 50px;
      cursor: pointer; }
      #logoNavWrapper #quick-links-wrapper #quick-links:after {
        content: "  >"; }

#quick-links-menu {
  display: none;
  position: absolute;
  margin-top: 20px;
  padding-top: 20px;
  width: 276px;
  height: 296px;
  background: url(../imgs/quck-link-menu.png) no-repeat; }
  #quick-links-menu li {
    list-style: none;
    margin: 20px 0;
    padding-left: 40px; }
    #quick-links-menu li a {
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      padding: 10px 0 10px 20px;
      width: 245px;
      text-align: left;
      display: block; }
      #quick-links-menu li a:hover {
        color: #C60;
        background: url(../imgs/quck-link-menu-hover.png) no-repeat left center; }

#about_content {
  margin: 0 auto;
  width: 800px;
  height: 50px;
  overflow: hidden;
  background: #000;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #ccc;
  padding: 30px;
  text-align: left; }
  #about_content p {
    padding: 5px; }
  #about_content ul {
    padding: 5px; }

.title {
  display: inline-block;
  width: 150px;
  vertical-align: top; }
